
.yzm:hover{
  cursor: pointer;
}
#footer{
    height: 150px;
    background-color: #555;
    margin-top: 20px;
    color: #ccc;
  }
  #footer .row>div:nth-child(1){
    margin-top: 20px;
  }
  .container{
    margin-bottom: 20px;;
      
  }
  .container form>div{
    margin-top: 40px;
    height: 40px;
}
  